html,body{
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #ddd;
}
#Header{
	height: 100%;
}
.Nav{
	text-align: right;
	background: rgba(93, 14, 104, 1);
	transition: 0.5s;
	height: 6rem;
	width: 100%;
	z-index: 1;
	position: fixed;
	}

.onScroll{
	background: rgba(93, 14, 104, 0.8);
	height: 5.9rem;
	margin-top: -1rem;

}
#logo{
	width: 160px;
	margin: 0 auto;
}
#Conoce{
	z-index: 0;
}

#Header-menu{
	color:white;
	list-style: none;
	margin: 0;
	font-weight: 400;
	display: inline-block;
	

}
.Header-menuItem{
	color: white;
	display: inline-block;
	margin: 0;
}
.Reg-button{
	cursor: pointer;
	width: 12rem;
	height: 2rem;
	transition: 0.5s;
	border-radius: 12px;
	background-color: #10A2AD;
	margin: 30px 70px;
	padding: 8px 0 2px;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	color: white;
}

.Header-menuLink{
	text-decoration: none;
	color: white;
}
.logo-container{
	display: inline-block;
	left: 1rem;
  	top: 0.5rem;
  	position: absolute;
  	visibility: hidden;
  	
}
.logo-container.visible{
	visibility: visible;
}

.turquoise{
	background-color: rgb(16, 162, 173);
	position: relative;
}
#Main{
	height: 200%;

}
.slide-container, #Conoce{
	width: 100%;
	height:100%;
	position: relative;
	text-align: center;
	display: block;
	overflow: hidden;

}
.slide {
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.slide img{width: 100%;}
#s1{
	background: #AAA5A5 url("/images/background1.jpg") no-repeat  center;
	background-size: cover;
}
#s2{
	background: #AAA5A5 url("/images/background2.jpg") no-repeat  center;
	background-position: right;
	background-size: cover;
}
#s3{
	background: #AAA5A5 url("/images/background3.jpg") no-repeat center;
	background-size: cover;
}

.slide-title{
	margin-top: 8rem;
	font-size: 3.75rem;
	margin-bottom: 0.1em;
}
.esp{
	margin-top: 1rem;
}
.slide-text{
	margin: 0;
	color: white;
	padding:4em 4em 0 4em;
	font-size: 2.5em;
	position: relative;
	text-shadow: 2px 2px 6px #000000;
}
.arrow{
	color: white;
	text-shadow: 0 0 9px black;
}







#RegBar{
	background: white;
	text-align: center;
	height: 2rem;
	vertical-align: top;
	padding: 2rem 0;
}
.RegBar-text{
	color: #AAA5A5;
	font-weight: 400;
	font-size: 1.25rem;
	margin: 2px 12px ;
	display: inline-block;
}
.RegBar-form{
	display: inline-block;
}
.RegBar-inputMail{
	background-color: #AAA5A5;
	border-radius: 12px;
	color: white;
	width: 18.75rem;
	margin: 2px;
	padding: 3px 0 3px 10px;
	height: 1.2rem;
}
.RegBar-btn{
	width: 8.125rem;
	height: 1.875rem;
	border-radius: 12px;
	background-color: #10A2AD;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	color: white;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}



#Footer{
	background: #5D0E68;
	color: white;
	text-align: center;
}

.footer-list{
	list-style: none;
	margin: 0;
	text-align: left;
}
.footer-item{
	vertical-align: top;
	width: 33%;
	display: inline-block;
}
.footer-title{
	display: inline-block;
	font-size: 1.1em;
	margin: 0.9em auto 1.2em auto;
}
.footer-content{
	display: block;
}
.mail{
	font-size: .75em;
	display: inline-block;
	margin: .5em;
}
.rrss{
	padding: 0 .4em 0 0;
}
.footer-message{
	background: rgb(62, 7, 71);
	margin-top: 1rem;
	height: 1rem;
	font-size: .8em;
	padding: 1.5rem 0 1em 0;
}

#Nosotros{
	/*height: 100%;*/
	background-color: white;
	text-align: center;
}




.prpl{
	background: #5D0E68;
}

#Modal-pane{
	z-index: -1;
	position: fixed;
}

#Modal-pane.visible{
	display: block;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	text-align: center;
  	height: 100%;
  	padding-top: 50%;
  	transition: 1s;

}
.Modal-text{
	font-size: 1.875rem;
}
#RegContainer{
	margin-top: 12rem;
	border-radius: 12px;
	width: 580px;
	height: 160px;
	display: inline-block;
	background: #fff;
}

.team-itemName{
	border-bottom: solid rgb(162, 117, 168) 2px;
	font-size: 1.25rem;
	font-weight: 700;
	color: rgb(154, 146, 155);
}
.team-itemRole{
	padding: 20px 0;
	font-weight: 300;
	font-size: 1.25rem;
	color: #AAA5A5;
	height: 3rem;
}
#Team{
	display: block;
	margin: 0;
}
#Title-team{
	padding: 2.8rem 0;
	font-weight: 400;
	font-size: 3.125rem;
	color: #5D0E68;
	margin:0;
}
.team-item{
	display: inline-block;
	width: 15%;
	padding: 1rem;
	vertical-align: top;
} 
.team-itemMail{
	color: #AAA5A5;
}

/*Responsive
Media Queries*/

@media (max-width: 600px) {
	.slide-title{
		font-size: 2rem;
		margin: 0;
		word-wrap: break-word;
	}
	.slide-text{
		padding: 5rem 1rem 0;
		font-size: 1rem;
		margin-top: 6rem;
	}
	.team-item{
		display: block;
		margin: auto;
		width: 80%;
	}
	#Nosotros{
		text-align: center;
	}
	.footer-item{
		width: 48%;
		font-size:0.7rem;
	}
	.Reg-button{
		width: 6rem;
		margin: 0 5px;
		font-size: 1rem;
	}
	#Team{
		padding: 0;
	}
	.Nav{
		font-size: 1rem;
		overflow: hidden;
	}
	#Header-menu{
		margin: 0;
  		padding-top: 1.4rem;
	}
	.logo-container.visible{
		margin-left: 1rem;
		width: 2rem;
	}
	.RegBar-btn{
		margin-top: 1rem;

	}
	#RegBar{
		height: auto;
	}
	.RegBar-text{
		margin-bottom: 0.9rem;
	}
}
/*
@media (max-width: 600px) {
	.slide-title{
		font-size: 2.5rem;
		word-wrap: break-word;
	}
	.slide-text{
		padding: 5rem 5rem;
		font-size: 1rem;
	}
	.team-item{
		display: block;
		margin: auto;
		width: 40%;
	}
	#Nosotros{
		text-align: center;
	}
	.footer-item{
		width: 48%;
		font-size:0.7rem;
	}

}