#s2{background:#AAA5A5 url("/images/background2.jpg") no-repeat center;background-position:right;background-size:cover;}
#s3{background:#AAA5A5 url("/images/background3.jpg") no-repeat center;background-size:cover;}
#RegBar{background:white;text-align:center;height:2rem;vertical-align:top;padding:2rem 0;}
.RegBar-text{color:#AAA5A5;font-weight:400;font-size:1.25rem;margin:2px 12px;display:inline-block;}
.RegBar-form{display:inline-block;}
.RegBar-inputMail{box-shadow:none;background-color:#AAA5A5;border-radius:12px;color:white;border:0;width:18.75rem;margin:2px;padding:3px 0 3px 10px;height:1.2rem;}
.RegBar-btn{box-shadow:none;border:0;width:8.125rem;height:1.875rem;border-radius:12px;background-color:#10A2AD;text-align:center;font-size:1rem;font-weight:400;color:white;}
::-webkit-input-placeholder{color:white;}
:-moz-placeholder{color:white;}
::-moz-placeholder{color:white;}
:-ms-input-placeholder{color:white;}
#Footer{background:#5D0E68;color:white;text-align:center;position:relative;}
.footer-list{list-style:none;margin:0;text-align:left;}
.link, .link:hover, .link:visited{color:white;text-decoration:none;}
.footer-item{vertical-align:top;width:33%;display:inline-block;}
.footer-title{display:inline-block;font-size:1.1em;margin:0.9em auto 1.2em auto;}
.footer-content{display:block;}
.mail{font-size:.75em;display:inline-block;margin:.5em;}
.rrss{padding:0 .2em;}
.rrss-link, .rrss-link:hover, .rrss-link:visited{text-decoration:none;color:white;height: 100%}
.footer-message{background:rgb(62, 7, 71);margin-top:1rem;height:1rem;font-size:.8em;padding:1.5rem 0 1em 0;}
#Nosotros{background-color:white;text-align:center;padding-top:3rem;}
.success{transition:1s;display:none;padding:.2rem;color:white;}
.success.visible{display:block;color:#AAA5A5;font-weight:600;}
.prpl{background:#5D0E68;}
#Modal-pane{z-index:-1;position:fixed;}
.Modal-inner{display:table-cell;vertical-align:middle;}
#Modal-pane.visible{display:table;z-index:100;background-color:rgba(0,0,0,0.5);position:fixed;bottom:0;left:0;width:100%;text-align:center;height:100%;transition:1s;}
.Modal-text{font-size:1.875rem;}
#RegContainer{border-radius:12px;width:580px;height:160px;display:inline-block;background:#fff;}
.team-itemName{border-bottom:solid rgb(162, 117, 168) 2px;font-size:1.25rem;font-weight:700;color:rgb(154, 146, 155);}
.team-itemRole{padding:20px 0;font-weight:300;font-size:1.25rem;color:#AAA5A5;height:3rem;}
#Team{display:block;margin:0;}
#Title-team{padding:2.8rem 0;font-weight:400;font-size:3.125rem;color:#5D0E68;margin:0;}
.team-item{display:inline;position:relative;padding:1rem;vertical-align:top;}
.team-itemMail{color:#AAA5A5;}
.itemMail-logo{margin:0 auto;}
.item-inner{display:inline-block;width:14rem;}
@media (max-width:600px){.slide-title{font-size:2rem;margin:0;word-wrap:break-word;}
.slide-text{padding:5rem 1rem 0;font-size:1rem;margin-top:5rem;}
.team-item{display:block;margin:auto;width:80%;}
#Nosotros{text-align:center;}
.footer-item{width:48%;font-size:0.7rem;}
.Reg-button{width:6rem;margin:0 5px;font-size:1rem;}
#RegContainer{border-radius:0;width:100%;height:200px;}
.team-itemRole{padding-bottom:0;}
#Team{padding:0;}
.Nav{font-size:1rem;overflow:hidden;}
#Header-menu{margin:0;padding-top:1.5rem;}
.logo-container.visible{margin-left:1rem;width:2rem;left:0.5rem;}
.RegBar-btn{margin-top:1rem;}
#RegBar{height:auto;}
.RegBar-text{margin-bottom:0.9rem;}
.footer-list{padding:0 0.2rem 0 1rem;}
.footer-message{margin-top:5rem;}
.rrss{padding: 0 .4rem;}
.footer-item:nth-child(2){width:150px;text-align: center;top:4.3rem;position:absolute;margin-left:auto;margin-right:auto;left:0;right:0;}
.footer-item:nth-child(3){text-align:right;}
}