html,body{
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #ddd;
}
#Header{
	height: 100%;
}
.Nav{
	text-align: right;
	background: #5D0E68;
	
	height: 6rem;
	width: 100%;
	z-index: 1;
	position: absolute;
	}
#Conoce{
	z-index: 0;
}

#Header-menu{
	color:white;
	list-style: none;
	margin: 0;
	font-weight: 400;
	display: inline-block;
	

}
.Header-menuItem{
	color: white;
	display: inline-block;
	margin: 0;
}
.Reg-button{
	cursor: pointer;
	width: 12rem;
	height: 2rem;
	border-radius: 12px;
	background-color: #10A2AD;
	margin: 30px 70px;
	padding: 8px 0 2px;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	color: white;
}

.Header-menuLink{
	text-decoration: none;
	color: white;
}
.logo-container{
	display: inline-block;
}

.turquoise{
	background-color: rgb(16, 162, 173);
	position: relative;
}
#Main{
	height: 200%;

}
.slide-container, #Conoce{
	width: 100%;
	height:100%;
	position: relative;
	text-align: center;
	display: block;
	overflow: hidden;

}
.slide {
	margin: 0;
	width: 100%;
	position: absolute;
}
.slide img{width: 100%;}


.slide-title{
	margin-top: 8rem;
	font-size: 3.75rem;
	margin-bottom: 0.1em;
}
.slide-text{
	margin: 0;
	color: white;
	padding:4em 4em 0 4em;
	font-size: 2.5em;
	position: relative;
	text-shadow: 2px 2px 6px #000000;
}
.arrow{
	color: white;
	text-shadow: 0 0 9px rgb(16, 162, 173);
}







#RegBar{
	background: white;
	text-align: center;
	height: 2rem;
	vertical-align: top;
	padding: 2rem 0;
}
.RegBar-text{
	color: #AAA5A5;
	font-weight: 400;
	font-size: 1.25rem;
	margin: 2px 12px ;
	display: inline-block;
}
.RegBar-form{
	display: inline-block;
}
.RegBar-inputMail{
	background-color: #AAA5A5;
	border-radius: 12px;
	color: white;
	width: 18.75rem;
	margin: 2px;
	padding: 3px 0 3px 10px;
	height: 1.2rem;
}
.RegBar-btn{
	width: 8.125rem;
	height: 1.875rem;
	border-radius: 12px;
	background-color: #10A2AD;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	color: white;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}



#Footer{
	background: #5D0E68;
	color: white;
	text-align: center;
}

.footer-list{
	list-style: none;
	margin: 0;
	text-align: left;
}
.footer-item{
	vertical-align: top;
	width: 33%;
	display: inline-block;
}
.footer-title{
	display: inline-block;
	font-size: 1.1em;
	margin: 0.9em auto 1.2em auto;
}
.footer-content{
	display: block;
}
.mail{
	font-size: .75em;
	display: inline-block;
	margin: .5em;
}
.rrss{
	padding: 0 .4em 0 0;
}
.footer-message{
	background: rgb(62, 7, 71);
	margin-top: 1rem;
	height: 1rem;
	font-size: .8em;
	padding: 1.5rem 0 1em 0;
}

#Nosotros{
	height: 100%;
	background-color: white;
	text-align: center;
}




.prpl{
	background: #5D0E68;
}

#Modal-pane{
	z-index: -1;
	position: fixed;
}

#Modal-pane.visible{
	display: block;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	text-align: center;
  	height: 100%;
  	padding-top: 50%;
  	transition: 1s;

}
.Modal-text{
	font-size: 1.875rem;
}
#RegContainer{
	margin-top: 12rem;
	border-radius: 12px;
	width: 580px;
	height: 160px;
	display: inline-block;
	background: #fff;
}

.team-itemName{
	border-bottom: solid rgb(162, 117, 168) 2px;
	font-size: 1.25rem;
	font-weight: 700;
	color: rgb(154, 146, 155);
}
.team-itemRole{
	padding: 20px 0;
	font-weight: 300;
	font-size: 1.25rem;
	color: #AAA5A5;
	height: 3rem;
}
#Team{
	display: block;
}
#Title-team{
	padding: 2.8rem 0;
	font-weight: 400;
	font-size: 3.125rem;
	color: #5D0E68;
	margin:0;
}
.team-item{
	display: inline-block;
	width: 15%;
	padding: 1rem;
	vertical-align: top;
} 
.team-itemMail{
	color: #AAA5A5;
}
