<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Try</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script type="text/javascript" src="../static/script/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="../static/script/scripts.js"></script>
</head>
<body>
	<header>
		<div id="fadeInShow-container">
			<figure class="fadeInShow">
				<img src="../static/images/banner1.jpg">
			</figure>
			<figure class="fadeInShow">
				<img src="../static/images/banner2.jpg">
			</figure>
			<figure class="fadeInShow">
				<img src="../static/images/banner3.jpg">
			</figure>
			<figure class="fadeInShow">
				<img src="../static/images/banner4.jpg">
			</figure>
		</div>
		<div id='header-text'>
			Hi!
		</div>
	</header>
	<nav>
		<ol>
			<li>a</li>
			<li>b</li>
			<li>c</li>
			<li>d</li>
			<li>e</li>
		</ol>
	</nav>

</body>
</html>