<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Ohana Home</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/Main.css">
	<link rel="stylesheet" type="text/css" href="css/MainStyle.css">
	<script type="text/javascript" src="script/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="script/scripts.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<header id="Header">
		<nav class="Nav">
			<ul id="Header-menu">
				<li class="Header-menuItem">
					<figure class="logo-container">
					<img src="">
					</figure>
				</li>
				<li class="Header-menuItem">
					<a href="nosotros.html" class="Header-menuLink">Nosotros</a>
				</li>
				<li class="Header-menuItem">
					<div id="ModalReg" class="Reg-button">Registrarse</div>
				</li>
			</ul>
		</nav>

		<div id="Conoce">
			<div class="slide s1">	
				
			</div>
			<div class="slide-text">
				<h2 class="slide-title">"Complementamos tu hogar"</h2>
				Un sistema de administración para la familia
			</div>
			<i class="fa fa-chevron-down arrow fa-lg"></i>
		</div>
	</header>

		<div class="slide-container">
			<div class="slide s2">	
				
			</div>
			<div class="slide-text">
				<h2 class="slide-title">"Conecta y administra"</h2>
				Complementa las necesidades indivivuales de tu familia
			</div>
			<i class="fa fa-chevron-down arrow fa-lg"></i>
		</div>
		<div class="slide-container">
			<div class="slide s3">	
				
			</div>
			<div class="slide-text">
				<h2 class="slide-title">
				"Tu hogar nunca estuvo tan completo"</h2>
			</div>
			<i class="fa fa-chevron-down arrow fa-lg"></i>
		</div>
	<div id="RegBar">
		<p class="RegBar-text">Regístrate y mantente conectado</p>
		<form class="RegBar-form">
			<input type="text" placeholder="Correo" class="RegBar-inputMail">
			<input type="submit" value="Registrarme" class="RegBar-btn">
		</form>

	</div>
	<footer id="Footer">
		<ul class="footer-list">

			<li class="footer-item">
				<div class="footer-title">
					Contáctanos
				</div>
				<div class="footer-content">
					<i class="fa fa-envelope-o fa-lg"><p class="mail">contacto@ohanahome.mx</p></i>
				</div>
			</li>
			<li class="footer-item">
				<div class="footer-title">
					Redes Sociales
				</div>
				<div class="footer-content">
					<i class="fa fa-facebook-square fa-2x rrss"></i>
					<i class="fa fa-google-plus-square fa-2x rrss"></i>
					<i class="fa fa-twitter-square fa-2x rrss"></i>
				</div>
			</li>
			<li class="footer-item">
				<div class="footer-title">
					Aviso de Privacidad
				</div>
			</li>
		</ul>
		<p class="footer-message">Todos los derechos reservados Ohana Home 2015</p>
	</footer>
		<div id="Modal-pane">
		<div id="RegContainer">
			<p class="Modal-text">Registrate</p>
			<form class="RegBar-form">
			<input type="text" placeholder="Correo" class="RegBar-inputMail">
			<input type="submit" value="Registrarme" class="RegBar-btn">
		</form>
		</div>
	</div>
	
</body>
</html>