<!--DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ohana Home</title>
	<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/Main.css">
	<script type="text/javascript" src="script/jquery-1.11.2.js"></script-->
	<!--script type="text/javascript" src="script/scripts.js"></script>
	<!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">>
</head>
<body-->
		<nav class="Nav turquoise">
		<figure class="logo-container">
			<img src="">
		</figure>
		<ul class='MainMenuList'>
			<a href='index.html#Conoce' class='MainMenu-link'><li class='MainMenu-item'>Conoce</li></a>
			<a href='index.html#Registro' class='MainMenu-link'><li class='MainMenu-item'>Regístrate</li></a>
			<a href='nosotros.html' class='MainMenu-link'><li class='MainMenu-item'>Nosotros</li></a>
		</ul>
	</nav>
	<div id="Nosotros">
		<h2 id="Title-team">Ohana Team g</h2>
		<div id="Team">
			<div class="team-item">
				<figure>
					<img src="">
				</figure>
				<div class="team-itemName">Ernesto J. Silva</div>
				<div class="team-itemRole">Founder Operations & Logistics Manager</div>
				<div class="team-itemMail">
					<i class="fa fa-envelope-o"></i>
					esilva@ohanahome.mx
				</div>
			</div>
			<div class="team-item">
				<figure>
					<img src="">
				</figure>
				<div class="team-itemName">Cesar Islas</div>
				<div class="team-itemRole">Project Manager</div>
				<div class="team-itemMail">
					<i class="fa fa-envelope-o"></i>
					cislas@ohanahome.mx
				</div>
			</div>
			<div class="team-item">
				<figure>
					<img src="">
				</figure>
				<div class="team-itemName">Jesús Cedillo</div>
				<div class="team-itemRole">Back/Front-end Developer</div>
				<div class="team-itemMail">
					<i class="fa fa-envelope-o"></i>

				</div>
			</div>
			<div class="team-item">
				<figure>
					<img src="">
				</figure>
				<div class="team-itemName">Luis Comonfort</div>
				<div class="team-itemRole">Back/Front-end Developer</div>
				<div class="team-itemMail">
					<i class="fa fa-envelope-o"></i>
					comonfort@ohanahome.mx
				</div>
			</div>
			<div class="team-item">
				<figure>
					<img src="">
				</figure>
				<div class="team-itemName">Lucio Sánchez</div>
				<div class="team-itemRole">Lead Designer</div>
				<div class="team-itemMail">
					<i class="fa fa-envelope-o"></i>

				</div>
			</div>			
		</div>
	</div>
<!--/body>
</html-->